* {
    margin: 0px;
    padding: 0%;
    font-family: 'Poppins', sans-serif !important;
        box-sizing: border-box;
}

.home-sec{

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}
.home-sec h1{
    font-size: 70px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 70%;
}

.fields{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    width: 100%;
    
}

.fields input{
    width: 100%;
    padding: 10px ;
    border-radius: 5px;
    box-shadow:  #b393d3 0px 2px 8px 0px;    letter-spacing: 2px;
    font-size: 1rem;
    outline: none;
    border: none;
    
}
.fields textarea{
    border: none;
    width: 100%;
    padding: 6px 1px;
    border-radius: 5px;
    padding-left: 10PX;
    box-shadow:  #b393d3 0px 2px 8px 0px;    letter-spacing: 2px;

    letter-spacing: 2px;
    font-size: 1rem;
    resize: none;
}
.fields textarea:hover{
    box-shadow: #553c9a 0px 1px 4px, #b393d3 0px 0px 0px 3px;    padding-left: 10PX;

}

.fields input:hover{
    box-shadow: #553c9a 0px 1px 4px, #b393d3 0px 0px 0px 3px;    padding-left: 10PX;

}
input:focus {
    outline: none !important;
}
textarea:focus {
    outline: none !important;
}

.fields label{
    font-size: 20px;
    font-weight: 600;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    
}

.stn-submit{
    padding: 0.3rem 1rem;
    border: none;
    font-size: 1.4rem;
    border-radius: 10px;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    min-width: 30%;
    color: white;
    

}
.stn-submit:disabled{
    background-color: #23252b79;
}

.home-img{
    height: 100 vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

}
.home-img h1{
    color: white;
    background-image: linear-gradient(to left, #553c9a, #b393d3);

    cursor: pointer;
    border: 5px solid  #553c9a;
    border-radius: 10px;
    padding: 8px 20px;
    position: absolute;
    top: 45%;
    transform:rotate(20deg);
    font-weight: 900;
}